{% extends "blog/base.html" %}
{% block content %}
	{% for post in posts %}
		<article class="media content-section">
		  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">{{ post.author }}</a>
		      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
		    </div>
		    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
		    <p class="article-content">{{ post.content }}</p>
		  </div>
			<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"> </script>
		</article>
	{% endfor %}
{% endblock content %}